<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./index.js"></script>
</head>

<body ng-app="selectApp" ng-controller="selectCtrl">

    <div class="container">

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{selectedValue}}
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation">
                    <div class="form-group">

                        <input type="text" ng-model="searchText" class="form-control" id="usr">
                    </div>
                </li>
                <li ng-click="selectFunction(x.name)" ng-repeat="x in data | filter:searchText"  role="presentation"><a
                        role="menuitem" tabindex="-1" href="#">{{x.name}}</a></li>

            </ul>
        </div>
    </div>

</body>

</html>